<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.label "Vote Topic" %>
  <%= f.text_field :topic %>

  <%= f.label "Number of selections" %>
  <%= f.number_field :n_selections %>

  <%# TODO: list of selections %>
  <button type="button" data-action="nested-form#remove">Remove</button>

</div>
