<h1><%= @ballot.name %></h1>

<h3>Votes</h3>
<% @votes.each do |vote| %>
  <div class="vote">
    <div class="column">
      <h5>Topic</h5>
      <%= vote.topic %>
    </div>
    <div class="column">
      <h5>Number of selections</h5>
      <%= vote.n_selections %>
    </div>
    <div class="centered">
      <h5>Choices</h5>
      <% vote.vote_choices.each do |vc| %>
        <div>
          <%= vc.choice %>
        </div>
      <% end %>
    </div>
    <% if @ballot.tallied? %>
      <% vote.round_tallies.each do |rt| %>
        <div>
          <%= "Round " + rt.round.to_s + ":" %>
          <ol class="left-justified">
            <% rt.tally.sort_by{|k,v| -v}.each do |tally| %>
              <li>
                <strong><%= "#{(tally.first ? tally.first : "No vote")}:" %></strong>
                <%= " #{tally.last} (#{(100.0 * tally.last / @ballot.ballot_submissions.length).round(1)}%)" %>
              </li>
            <% end %>
          </ol>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
<% end %>

<% if @ballot.created? %>
  <div class="inline-block-child">
    <%= button_to "Edit Ballot",
    edit_election_ballot_path(@election, @ballot),
    method: :get %>
  </div>
  <div class="inline-block-child">
    <%= button_to "Send Ballot",
    send_ballots_election_ballot_path(@election, @ballot),
    method: :post %>
  </div>
  <div class="inline-block-child">
    <%= button_to "Remove Ballot",
    election_ballot_path(@election, @ballot),
    method: :delete %>
  </div>
  <div class="inline-block-child">
    <%= button_to "Generate Fake Results",
    fake_ballots_election_ballot_path(@election, @ballot),
    method: :post,
    class: "red-button" %>
  </div>
<% end %>

<% if @ballot.sent? %>
  <div>
    <%= "Sent: " + @ballot.ballot_submissions.length.to_s %>
    <%= "Submitted: " +
      @ballot.ballot_submissions.where(status: "submitted").length.to_s %>
  </div>
  <div class="inline-block-child">
    <%= button_to "Close Balloting and Tally Results",
    tally_results_election_ballot_path(@election, @ballot),
    method: :post %>
  </div>
<% end %>

<%= link_to "Back", @election %>
