<p style="color: green"><%= notice %></p>

<%= render @vote_submission %>

<div>
  <%= link_to "Edit this vote submission", edit_vote_submission_path(@vote_submission) %> |
  <%= link_to "Back to vote submissions", vote_submissions_path %>

  <%= button_to "Destroy this vote submission", @vote_submission, method: :delete %>
</div>
