<% @election.participants.each do |participant| %>
  <div class="parent">
    <div class="inline-block-child">
      <%= participant.name + " -- " %>
      <%= participant.email %>
    </div>
    <div class="inline-block-child">
      <%= button_to "Remove participant",
      election_participant_path(@election, participant),
      method: :delete %>
    </div>
  </div>
<% end %>

<%= form_with(model: @election, local: true,
              data: { controller: 'nested-form',
                      nested_form_wrapper_selector_value: '.nested-form-wrapper'
 
              }) do |f| %>
  <template data-nested-form-target="template">
    <%= f.fields_for :participants, Participant.new, child_index: 'NEW_RECORD' do |participant_fields| %>
      <%= render "participant_form", f: participant_fields %>
    <% end %>
  </template>
  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <br>

  <button type="button" data-action="nested-form#add">Add participant</button>

  <%= f.submit "Save" %>

<% end %>
