<h1><%= @election.name %></h1>

<div class="subhead">
  <%= @election.description %>
</div>
<br>

<div class="row">
  <div class="column">
    <h2>Ballots</h2>
    <%= render "ballot_section" %>
  </div>

  <div class="column">
    <h2>Participants</h2>
    <%= render "elections/participant/participant_list" %>
  </div>
</div>
<br>
<br>

<div>
  <%= link_to "Other Elections", elections_path %>
</div>

<div class="right">
  <%= button_to "Delete Election",
  @election,
  method: :delete,
  data: {
    turbo_confirm: "Are you sure?",
  } %>
</div>
