<h1>
  <%= @vote_submission.topic %>
</h1>

<%= form_with model: @vote_submission do |form| %>
  Selection:
  <ul>
    <%= form.fields_for :selections do |selection_form| %>
      <li>
        <%= selection_form.select :selection, @vote_submission.choices %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= form.submit %>
  </div>
<% end %>
