<h1><%= @ballot_submission.ballot_name.titleize %></h1>

<h3>Votes</h3>
<%= form_with model: @ballot_submission do |ballot_form| %>
  <%= ballot_form.fields_for :vote_submissions do |form| %>
    <div class="vote">
      <div class="column">
        <h5>Topic</h5>
        <%= form.object.topic.titleize %>
      </div>
      <div class="column">
        <h5>Number of selections</h5>
        <%= form.object.n_selections %>
      </div>
      <div class="centered">
        <h3>Selections</h3>
        <%= form.fields_for :selections do |selection_form| %>
          <div>
            <%= selection_form.object.preference.to_s + ". " %>
            <%= selection_form.hidden_field :preference, value: selection_form.object.preference %>
            <%= selection_form.select :selection,
                                  form.object.vote_choices.map { |vc| vc.choice.titleize },
                                  prompt: "pick one" %>
          </div>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
  <span class="error-message">
    <%= if @ballot_submission.errors.any?
      "Error: #{@ballot_submission.errors.first.full_message}"
    else
      ""
    end %>
    <br>
  </span>
  <%= ballot_form.submit %>
<% end %>
