<h1><%= @ballot_submission.ballot_name.titleize %></h1>
<h2><%= @ballot_submission.state.titleize %></h1>

<div class = "centered">
  <%= link_to "Fill out ballot", [:edit, @ballot_submission] %>
</div>

<h3>Votes</h3>
<% @ballot_submission.vote_submissions.each do |vs| %>
  <div class="vote">
    <p><strong>Selections Made: </strong><%= vs.selections.each_with_index.map{|s,i| (i+1).to_s + ". " + s.selection.titleize}.join(', ') %></p>
    <br>
    <div class="column3">
      <h5>Topic</h5>
      <%= vs.topic.titleize %>
    </div>
    <div class="column3">
      <h5>Number of selections</h5>
      <%= vs.n_selections %>
    </div>
    <div class="column3">
      <h5>Choices</h5>
      <% vs.vote_choices.each do |vc| %>
        <div>
          <%= vc.choice.titleize %>
        </div>
        <% end %>
    </div>
  </div>
  <br>
<% end %>

