<h1>
  <%= @vote.topic %>
</h1>

<%= form_with model: @vote do |form| %>
  Selection:
  <ul>
    <%# TODO: refactor to vote_selection obj %>
    <%= form.fields_for :selections do |selection_form| %>
      <li>
        <%= selection_form.select :selection, @vote.choices %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= form.submit %>
  </div>
<% end %>
